@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* typography variables */
  --typography-font-family-primary: 'Poppins';
  --typography-font-weight-bold: 700;
  --typography-font-weight-regular: 400;
  --typography-font-size-62: 3.875rem;
  --typography-font-size-32: 2rem;
  --typography-font-size-24: 1.5rem;
  --typography-font-size-20: 1.25rem;
  --typography-font-size-16: 1rem;
  --typography-font-size-14: 0.875rem;
  --typography-font-size-12: 0.75rem;
  --letter-spacing-spacing-0: 0px;
  --letter-spacing-spacing-1-86: -1.86px;
  --letter-spacing-spacing-0-48: -0.48px;
  --letter-spacing-spacing-0-42: -0.42px;
  --letter-spacing-spacing-0-35: -0.35px;
  --letter-spacing-spacing-0-32: -0.32px;
  --line-height-small: 1;
  --line-height-regular: 1.4;
  --line-height-medium: 1.6;
  --line-height-tight: 1.2;
}
