@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap');

:root {
  /* color variables */
  --purple-100: #8b7ff5;
  --purple-200: #6c5fbc;
  --purple-300: #4a3c99;
  --gray-100: #f5f5f5;
  --gray-200: #dcdcdc;
  --gray-300: #7a7a7a;
  --black: #000000;
  --white: #f9f9f9;

  /* typography variables */
  --typography-font-family-primary: 'Poppins', Arial, sans-serif;
  --typography-font-weight-bold: 700;
  --typography-font-weight-regular: 400;
  --typography-font-size-62: 3.875rem;
  --typography-font-size-32: 2rem;
  --typography-font-size-24: 1.5rem;
  --typography-font-size-20: 1.25rem;
  --typography-font-size-16: 1rem;
  --typography-font-size-14: 0.875rem;
  --typography-font-size-12: 0.75rem;
  --letter-spacing-spacing-0: 0px;
  --letter-spacing-spacing-1-86: -1.86px;
  --letter-spacing-spacing-0-48: -0.48px;
  --letter-spacing-spacing-0-42: -0.42px;
  --letter-spacing-spacing-0-35: -0.35px;
  --letter-spacing-spacing-0-32: -0.32px;
  --line-height-small: 1;
  --line-height-regular: 1.4;
  --line-height-medium: 1.6;
  --line-height-tight: 1.2;

  /* corner radius */
  --corner-radius-4: 4px;
  --corner-radius-8: 8px;
  --corner-radius-12: 12px;
  --corner-radius-16: 16px;
  --corner-radius-20: 20px;
  --corner-radius-24: 24px;

  /* spacing fixed */
  --spacing-fixed-4: 4px;
  --spacing-fixed-8: 8px;
  --spacing-fixed-12: 12px;
  --spacing-fixed-16: 16px;
  --spacing-fixed-20: 20px;
  --spacing-fixed-24: 24px;
  --spacing-fixed-28: 28px;
  --spacing-fixed-32: 32px;

  /* h1 */
  --typography-h1-font-size: var(--typography-font-size-32);
  --typography-h1-font-weight: var(--typography-font-weight-bold);
  --typography-h1-line-height: var(--line-height-tight);
  --typography-h1-letter-spacing: var(--letter-spacing-spacing-0-48);
  --typography-h1-font-family: var(--typography-font-family-primary);

  /* h2 */
  --typography-h2-font-size: var(--typography-font-size-24);
  --typography-h2-font-weight: var(--typography-font-weight-bold);
  --typography-h2-line-height: var(--line-height-tight);
  --typography-h2-letter-spacing: var(--letter-spacing-spacing-0);
  --typography-h2-font-family: var(--typography-font-family-primary);

  /* h3 */
  --typography-h3-font-size: var(--typography-font-size-20);
  --typography-h3-font-weight: var(--typography-font-weight-bold);
  --typography-h3-line-height: var(--line-height-tight);
  --typography-h3-letter-spacing: var(--letter-spacing-spacing-0);
  --typography-h3-font-family: var(--typography-font-family-primary);

  /* default strong */
  --typography-default-strong-font-size: var(--typography-font-size-16);
  --typography-default-strong-font-weight: var(--typography-font-weight-bold);
  --typography-default-strong-line-height: var(--line-height-tight);
  --typography-default-strong-letter-spacing: var(--letter-spacing-spacing-0);
  --typography-default-strong-font-family: var(
    --typography-font-family-primary
  );

  /* default regular */
  --typography-default-regular-font-size: var(--typography-font-size-16);
  --typography-default-regular-font-weight: var(
    --typography-font-weight-regular
  );
  --typography-default-regular-line-height: var(--line-height-medium);
  --typography-default-regular-letter-spacing: var(--letter-spacing-spacing-0);
  --typography-default-regular-font-family: var(
    --typography-font-family-primary
  );

  /* medium strong */
  --typography-medium-strong-font-size: var(--typography-font-size-14);
  --typography-medium-strong-font-weight: var(--typography-font-weight-bold);
  --typography-medium-strong-line-height: var(--line-height-tight);
  --typography-medium-strong-letter-spacing: var(--letter-spacing-spacing-0);
  --typography-medium-strong-font-family: var(--typography-font-family-primary);

  /* small strong */
  --typography-small-strong-font-size: var(--typography-font-size-12);
  --typography-small-strong-font-weight: var(--typography-font-weight-bold);
  --typography-small-strong-line-height: var(--line-height-tight);
  --typography-small-strong-letter-spacing: var(--letter-spacing-spacing-0);
  --typography-small-strong-font-family: var(--typography-font-family-primary);

  /* label default */
  --typography-label-default-font-size: var(--typography-font-size-16);
  --typography-label-default-font-weight: var(--typography-font-weight-regular);
  --typography-label-default-line-height: var(--line-height-regular);
  --typography-label-default-letter-spacing: var(--letter-spacing-spacing-0-32);
  --typography-label-default-font-family: var(--typography-font-family-primary);

  /* label small */
  --typography-label-small-font-size: var(--typography-font-size-14);
  --typography-label-small-font-weight: var(--typography-font-weight-regular);
  --typography-label-small-line-height: var(--line-height-regular);
  --typography-label-small-letter-spacing: var(--letter-spacing-spacing-0-35);
  --typography-label-small-font-family: var(--typography-font-family-primary);

  /* tab active */
  --typography-tab-active-font-size: var(--typography-font-size-16);
  --typography-tab-active-font-weight: var(--typography-font-weight-bold);
  --typography-tab-active-line-height: var(--line-height-regular);
  --typography-tab-active-letter-spacing: var(--letter-spacing-spacing-0-48);
  --typography-tab-active-font-family: var(--typography-font-family-primary);

  /* tab inactive */
  --typography-tab-inactive-font-size: var(--typography-font-size-16);
  --typography-tab-inactive-font-weight: var(--typography-font-weight-regular);
  --typography-tab-inactive-line-height: var(--line-height-regular);
  --typography-tab-inactive-letter-spacing: var(--letter-spacing-spacing-0-48);
  --typography-tab-inactive-font-family: var(--typography-font-family-primary);

  /* tab */
  --typography-tab-font-size: var(--typography-font-size-14);
  --typography-tab-font-weight: var(--typography-font-weight-regular);
  --typography-tab-line-height: var(--line-height-small);
  --typography-tab-letter-spacing: var(--letter-spacing-spacing-0-42);
  --typography-tab-font-family: var(--typography-font-family-primary);
}

.white-theme {
  --primary-dark: var(--black);
  --primary-light: var(--white);
  --secondary-gray: var(--gray-300);
  --tertiary-gray: var(--gray-100);
  --brand-color: var(--purple-200);
}
